body {
    counter-reset: question exercise figure equation table;  
    font-size: medium;
}

#mdcontent > .Figure  img{

    max-width: 100%;
    max-height: 250px;
    cursor: pointer;
}

.Question img{

  max-width: 100%;
  max-height: 250px;
}


.roundbox{
  border-radius: 5px;
  padding: 10px;
  margin:auto!important;
  margin-bottom: 50px!important;
}

@media (min-width:601px){
  .roundbox{max-width: 95%;}
}
@media (min-width:993px){
  .roundbox{max-width: 90%;}
}
@media(min-width:1405px){
  .roundbox{max-width: 70%;}
}
.roundbox .roundbox{
  max-width: 90%;
}

.Question{
    background-color: #009688!important;
    color: white;
    width: 100%!important;
    border: white thin;
    font-size: large;
}

.Question::before {
    padding: 5px 15px;
   
    counter-increment: question;
    content: "\AQuestion "  counter(question)": ";
    font-weight: bolder;
    font-size: larger;
    font-family: "Segoe UI",Arial,sans-serif;
    background-color:#4fa199!important;
    position: relative;
    left:-50px;
    border-radius: 5px;
    width: auto;
    margin-top: -25px;
  }

.Question p{
    text-align: justify;
    margin: auto;
}



.Exercise::before {
    counter-increment: exercise;
    content: "Exercise "  counter(exercise)": ";
    font-weight: bolder;
    font-size: x-large;
    font-family: "Segoe UI",Arial,sans-serif;
    text-align: center;
    width: calc(100% + 50px)!important;
    background-color: rgb(211, 211, 211);
    display: block;
    margin-left: -25px;
    margin-top: -26px;
    padding: 0px 16px;
    
   

  }
  .Exercise::after {
    white-space: pre;
    content: " ";
    font-weight: bolder;
    font-size: x-large;
    font-family: "Segoe UI",Arial,sans-serif;
    text-align: center;
    width: calc(100% + 50px)!important;
    background-color: rgb(211, 211, 211);
    display: block;
    margin-left: -25px;
    margin-bottom: -26px;
    padding: 0px 16px;
  }
  @keyframes spin { 
    100% { 
      transform: rotateZ(360deg);
    }
  }

.Exercise{
    background-color:#f0f0f0 !important;
    color: rgb(0, 0, 0);
    text-align: left!important;
    max-width: 100%!important;
    width: 100%;
    border: 3px solid rgb(211, 211, 211);
    
}


h1{
    color: #009688!important;
    padding-top:50px;
}

h2{
    color: black!important;
    padding-top:40px;
}

.Figure{
   
    border-style: solid;
    border-color:#646464;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    font-weight: bold;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255,0);
}

@media (min-width:993px){
 #mdcontent > .Figure{ float: right;
  margin-left: 20px!important;
}}


.Figure::after{
    counter-increment: figure;
    content: "Figure " counter(figure);
   
    font-weight: bolder;
    font-size: x-large;
    font-family: "Segoe UI",Arial,sans-serif;
    background-color:#646464!important;
    position: relative;
    bottom:-50px;
    margin-bottom:-5px;
    margin-top: 5px;
    padding: 15px;
    border-radius: 5px;
    color: white;

}

.Equation{
    background-color:#ccc!important;
    font-weight: 900;
    font-size: large;
    text-align: left;
    padding-top: 30px!important;
}

.Equation::after{
    counter-increment: equation;
    content: "Equation " counter(equation);
    border-radius: 5px;
    font-weight: bolder;
    font-size: larger;
    font-family: "Segoe UI",Arial,sans-serif;
    background-color:#e7e7e7!important;
    position: relative;
    bottom:-32px;
    padding: 15px;
}

@media (min-width:993px){
.Equation::after{
  bottom:0px!important;
  left: calc(50% - 30px);
}
}

.Table{
  
  
  max-width: 100%!important;

}

.Table:before{
  counter-increment: table;
  content: "\A Table "  counter(table)": \A";
  margin-bottom: 20px!important;
  display: block;
  font-weight: bold;
}
table {
  width:100%;
  margin:auto;
}
th, td {
  padding:5px

}
th{
  /* border: sienna 2px solid; */
  border-radius: 2px;
  font-size: normal;
  background-color: salmon;
}
td{
  font-size: small;
  background-color: rgb(187, 172, 170);
}


#part0{
    color:black!important;
    font-size: 28pt;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.frame
{


    -ms-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -o-transform: scale(0.1);
    -webkit-transform: scale(0.1);
    transform: scale(0.1);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}


h2{
    position: relative;
    /* left:-10px; */
}

.Note{
    background-color: #e9e49f!important;
    color: black;
   
    width: 100%!important;
    margin-top: 50px!important;

    border: white thin;
    font-size: large;
}
.Note:before {
    padding: 15px;
    width: 100%;
    content: "\ANote: ";
    font-weight: bolder;
    font-size: larger;
    font-family: "Segoe UI",Arial,sans-serif;
    background-color:#e6dd66!important;
    position: relative; 
    left:0;
    top:-40px;

  }


  #TOCprint > ul{
    margin-left:0px;
    padding: 0px;
  }

  #TOCprint > ul ul{
    margin-left:0px;
    padding-left: 10px;
  }




/* Style the button that is used to open and close the collapsible content */
#allnav{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height:100%
}


#TOCprint{
  padding: 0 18px;
  max-height: none ;
  
  overflow: hidden;
  transition: max-height 0.5s ease-out;
 
}

#collapsible {
    background-color: #009688;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    height: 60px;
   
 
  }

 

  #chatscreen{
  
   width:100%;
   background-color: #f0f0f0 !important;
   height:0px;
   max-height: 0px;
   overflow: hidden;
   flex-grow: 1;
  

  }

  #nectirbut{
    padding-top: 10px;
    padding-bottom: 10px;
  }
 
  /* Style the collapsible content. Note: hidden by default */



    
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, #collapsible:hover {
    background-color: #ccc;
  }












  @media (max-width: 992px) {
    .modal-content-wrapper .image-modal-content {
      flex: 0 0 45%;
    }
  }
  @media (max-width: 550px) {
    .modal-content-wrapper .image-modal-content {
      flex: 0 0 100%;
    }
  }
  .modal-content-wrapper .image-modal-content:hover {
    transform: scale(1.03);
    transition: 300ms ease-in;
  }
  .modal-content-wrapper .image-modal-content img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #222;
  }
  
  /* modal popup styles */
  .image-modal-popup {
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    animation: 500ms fadeIn;
    display: none;
    z-index: 1000;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .image-modal-popup .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    position: relative;
  }
  
  .image-modal-popup .description {
    text-align: center;
    max-width: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px
  }
  .image-modal-popup img {
    
    max-height: calc(100vh - 200px);
    max-width: calc(100vw - 50px);
    margin-bottom: 10px;
    cursor: pointer;
    background-color: white;
  }
  .image-modal-popup span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 4rem;
    color: red;
    cursor: pointer;
  }
  .image-modal-popup p {
    margin: 5px auto;
    font-size: 1.1rem;
  }
  .image-modal-popup a {
    margin-bottom: 5px;
    display: inline-block;
    color: #222;
    font-weight: 500;
    text-decoration: none;
    background: #fff;
    margin: 10px 10px;
    padding: 10px 15px;
    border-radius: 6px;
  }
  

  .image-modal-popup h3{
    
    color: white;
  }